# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by PyInstaller
# after building an EXE
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables / virtual envs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local config
*.local

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Backup files
*.bak
*.tmp

# Python compiled binaries
*.pyd

# Ignore EXE output
*.exe
